.credencialesInput{
    border-radius: 10px;
}

.credencialesTexto{
    color: white;
}

#btnRegistrarse :visited{
    color: black;
}

#contenedorGeneralLogin{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-color: rgba(65, 91, 134, 0.5);
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    border: 2px solid rgba(68, 119, 193, 0.5);
}

#acceptButton
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    color: black;
}