services:
  mongodb:
    image: mongodb/mongodb-community-server:latest
    restart: unless-stopped
    environment:
      MONGODB_INITDB_ROOT_USERNAME_FILE: /run/secrets/db_root_username
      MONGODB_INITDB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MONGODB_INITDB_DATABASE: friocasino
    secrets:
      - db_root_username
      - db_root_password
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/data/db

  friocasino-api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - path: ./backend/.env
        required: true
    ports:
      - "3000:3000"
    depends_on:
      - mongodb

  # friocasino-web:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   environment:
  #     - APP_API_URL=http://friocasino-api:3000
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     - friocasino-api

secrets:
  db_root_username:
    file: ./.db_root_username
  db_root_password:
    file: ./.db_root_password

volumes:
  mongodb: