
.credencialesTexto{
    color: white;
}

.credencialesInput{
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

.loginBtn{
    margin-top: 10px;
    height: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: #00BCB4;
}

.loginBtn:hover{
    background-color: #00A69F;
}

.inputTags{
    color: white;;
}

.inputCantidadAApostar{
    color: white;
    margin-top: 20px;
}

.inputTags{
    font-size: 130%;
    font-weight: bold;
}

.cantidadesInput{
    margin-bottom: 20%;
    text-align: center;
}

.divsCheckboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lbl-switch{
    display: inline;
    width: 55px;
    height: 30px;
    background-color: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    border-style: solid;
}
.btn-switch:checked~ .lbl-switch{
    background: #61a0ff;
}
.lbl-switch:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #ffffff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}

.btn-switch:checked~ .lbl-switch::after{
    left: 28px;
}

.btn-switch{
    display: none;
}

.clear {
    clear: both;
}

.checkBoxR {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 2px #fff;
}

.checkBoxR div {
    width: 60px;
    height: 60px;
    background-color: #f43e3e;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBoxR input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}

.checkBoxR input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}




.checkBoxN {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 2px #fdfdfd;
}

.checkBoxN div {
    width: 60px;
    height: 60px;
    background-color: #000000;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBoxN input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}

.checkBoxN input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.checkBoxV {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 2px #fdfdfd;
}

.checkBoxV div {
    width: 60px;
    height: 60px;
    background-color: #51cd33;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBoxV input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}

.checkBoxV input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}






.inputbox {
    position: relative;
    width: 196px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: white;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {

    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #24969d;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
    height: 44px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 2px #fdfdfd;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.overflow-x-auto {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.overflow-x-auto::-webkit-scrollbar {
    width: 8px;
}

.overflow-x-auto::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

table tbody tr:nth-child(1) { height: 40px; }
table tbody tr:nth-child(2) { height: 10; } 
table tbody tr:nth-child(3) { height: 60px; }
table tbody tr:nth-child(4) { height: 80px; }
table tbody tr:nth-child(5) { height: 60px; }
table tbody tr:nth-child(6) { height: 80px; }
table tbody tr:nth-child(7) { height: 60px; }
table tbody tr:nth-child(9) { height: 80px; }
