/* src\styles\profile.css */
body {
    margin: 0px;
}

#profile-container {
    display: flex;
    flex-direction: row;
    outline: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

#left-sidebar {
    flex: 1;
    color: white;
}

#main {
    flex: 4;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

#main hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#main h1 {
    font-size: x-large;
    margin-bottom: 10px;
}

#main-header{
    display: flex;
    direction: column;
    color: white;
    align-items: center;
}

#main-header span {
    color: #d6dae1;
    margin-right: 10px;
}

#main-header .badge {
  background-color: white;
  color: #2b414e;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}


#account-details {
    display: grid;
    grid-template-columns: 0.1fr 2.5fr 1fr;
    /* background-color: #f6f7f9; */
    color: black;
    border-radius: 2px;
}

#account-details-left {
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;   
}

#account-details-left h3 {
    /* color: #112935; */
    color: #eceef2;
}

#account-details-right {
    /* background-color: #eceef2; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#account-details-right img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#account-details-right span {
    margin-top: 10px;
    font-weight: 500;
    /* color: #1a2c38; */
    color: #eceef2;
}

.account-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.account-input-right-div {
    display: flex;;
    justify-self: center;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.account-input .detail{
    /* color: #2b3342; */
    color: #eceef2;
    display: flex;
    justify-content: start;
    align-items: center;
}

.account-input .edit{
    justify-self: end;
    margin-right: 20px;
    /* color: #353a45; */
    color: #d2dcee;
}

.account-input .edit a {
    text-decoration: none;
    color: white;
}

.account-input .info {
    justify-self: center;
    /* color: #69778e; */
    color: #eceef2;
}

.account-input input[type=text] {
    text-align: center;
	appearance: none;
	border: none;
	outline: none;
    background-color: rgba(21, 37, 48, 0.226);
    color: white;
	border-radius: .2em .2em 0 0;
	padding: .4em;
}


.account-input input[type=text].editing {
    text-align: center;
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #346d86;
    background-color: rgba(40, 44, 52, 0.479);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: white;
}

.account-input input[type=password] {
    text-align: center;
	appearance: none;
	border: none;
	outline: none;
    background-color: rgba(21, 37, 48, 0.226);
    color: white;
	border-radius: .2em .2em 0 0;
	padding: .4em;
}


.account-input input[type=password].editing {
    text-align: center;
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #346d86;
    background-color: rgba(40, 44, 52, 0.479);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: white;
}

.changeButtons {
    padding: 4px 8px;
}

.changeButtons:hover {
    background-color: lightgray;
    color: #2b414e;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}